<%= form_for(@antenna) do |f| %>
  <% if @antenna.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@antenna.errors.count, "error") %> prohibited this antenna from being saved:</h2>

      <ul>
      <% @antenna.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :access_token %><br>
    <%= f.text_field :access_token %>
  </div>
  <div class="field">
    <%= f.label :payload %><br>
    <%= f.text_area :payload %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
